/**
* CSS FOR SEDOO LABTOOLS
* author : pVert
*/
/* 
.tplTheia .wrapper-content {
    max-width: 768px;
    margin:0 auto;
}

[class*="page-template-template-theme"] [id="breadcrumbs"] > div,
[class*="single-sedoo-research-team"] [id="breadcrumbs"] > div,
[class*="single-sedoo-platform"] [id="breadcrumbs"] > div {
    justify-content: flex-end;
}

[class*="page-template-template-theme"] [id="breadcrumbs"] > div::before,
[class*="single-sedoo-research-team"] [id="breadcrumbs"] > div::before,
[class*="single-sedoo-platform"] [id="breadcrumbs"] > div::before,
[class*="page-template-template-theme"] [id="breadcrumbs"] > div::after,
[class*="single-sedoo-research-team"] [id="breadcrumbs"] > div::after,
[class*="single-sedoo-platform"] [id="breadcrumbs"] > div::after { 
    display: none;
}


[class*="page-template-template-theme"] [id="content-area"].sidebar main,
[class*="single-sedoo-research-team"] [id="content-area"].sidebar main,
[class*="single-sedoo-platform"] [id="content-area"].sidebar main  { 
    width: 100%;    
    margin-right:0;
}

@media (min-width:768px) {
    [class*="page-template-template-theme"] [id="content-area"].sidebar main,
    [class*="single-sedoo-research-team"] [id="content-area"].sidebar main,
    [class*="single-sedoo-platform"] [id="content-area"].sidebar main { 
        flex:1 1 500px;
        order:1;
    }
}

[class*="page-template-template-theme"] [id="content-area"].toc-left > div[id="stickyMenu-sticky-wrapper"],
[class*="single-sedoo-research-team"] [id="content-area"].toc-left > div[id="stickyMenu-sticky-wrapper"],
[class*="single-sedoo-platform"] [id="content-area"].toc-left > div[id="stickyMenu-sticky-wrapper"]{ 
    flex:0 1 170px;
    order:0;
}

[class*="page-template-template-theme"] [id="content-area"].sidebar aside,
[class*="single-sedoo-research-team"] [id="content-area"].sidebar aside,
[class*="single-sedoo-platform"] [id="content-area"].sidebar aside { 
    flex:0 1 290px;
    order:2;
}

body .site-branding h1 a, body .site-branding h1 span {
    color: #333;
    background: rgba(255,255,255,0.8);
}

[class*="page-template-template-theme"] main ~ aside > section > h3,
[class*="single-sedoo-research-team"] main ~ aside > section > h3,
[class*="single-sedoo-platform"] main ~ aside > section > h3 {
    font-size:1.1rem;
}

[role="theme-embed-page"] > article > section > div {
    display:flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:1023px) {
    [role="theme-embed-page"] > article > section > div {
        flex-wrap: wrap;
    }
}

[role="theme-embed-page"] svg {
    display: block;
    max-width: 170px;
    height: 170px;
}

[role="theme-embed-page"] .post-excerpt {
    font-family: 'Open Sans',Arial,sans-serif;
    font-size:1.5rem;
}

[role="theme-embed-page"] .post-excerpt > p + p {
    font-size: 1.3rem;
} */


.sedoo-labtools-listCPT .item-img {
    width: 100%;
    height: 240px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.sedoo-labtools-listCPT .item-img img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.sedoo-labtools-listCPT .item-link h3 {
    text-transform: uppercase;
    margin-top: 10px;
}