.DS_Store
phpcs.xml
phpunit.xml
Thumbs.db
wp-cli.local.yml
node_modules/
*.sql
*.tar.gz
*.zip

Gruntfile.js

package.json

phpunit.xml.dist

tests/

bin/

.phpcs.xml.dist

.travis.yml

bin/install-wp-tests.sh

.editorconfig

.distignore
